#Branches{
    
    padding: 5px;
    color: #000;
    font-size: 12px;
    background: transparent;
    -webkit-appearance: none;

}

option { 
    /* Whatever color  you want */
    background-color: #82caff;
}